go 1.25.0

use (
	./pkg
	./services/auth
	./services/chat
	./services/content
	./services/email
	./services/notification
	./services/payment
	./services/storage
	./services/stream
	./services/video
)
